<div class="small-4 columns" data-ng-controller="MailListingController">
	<input type="number" placeholder="Filter Messages by Years" data-ng-model="nYearsAgo" />
	<ul id="emailListing">
		<!-- Note use of orderBy filter, ordering by an element common in each array,
			 and passing "true" ensures results will be displayed in descending (newest->oldest) order 
			 finally searchPastNYears is a custom filter function, defined in the Controller-->
		<li email-listing email="mail"
			gravatar-size="20"
			action="setSelectedMail(selectedMail)"
			data-ng-repeat="mail in (email | orderBy:'sent_at':true | filter:searchPastNYears )">
		</li>
	</ul>
</div>

<div class="small-8 columns" data-ng-controller="ContentController">
	<div data-ng-show="!selectedMail">
		<h2>No Conversations Selected</h2>
	</div>
	<div data-ng-show="selectedMail">
		<form id="replyForm" data-ng-submit="sendEmailReply()" data-ng-show="showingReply">
			<div class="row collapse">
				<div class="small-1 columns">
					<span class="prefix">To</span>
				</div>
				<div class="small-11 columns">
					<input data-ng-model="reply.to" type="email" placeholder="">
				</div>
				
				<div class="small-12 columns">
					<textarea data-ng-model="reply.body"></textarea>
				</div>
			</div>
			
			<button class="button radius" data-ng-click="sendReply()">Send</button>
			<button class="button radius alert" data-ng-click="toggleReplyForm()">Cancel</button>
		</form>
		<div class="row header">
			<div class="small-6 columns">{{ selectedMail.subject }}</div>
			<div class="small-6 columns">{{ selectedMail.sent_at | date:'MM/dd/yy' }}</div>
		</div>
		<div class="row actions">
			<div class="small-8 columns">
				{{ selectedMail.from.join(", ") }} to {{ selectedMail.to }}
			</div>
			<a data-ng-click="toggleReplyForm()" class="button radius push-1">Reply</a>
		</div>
		<div class="small-12 columns" data-ng-bind-html="selectedMail.body"></div>
	</div>
</div>
