<div class="small-4 columns" data-ng-controller="MailListingController">
	<h2>Sidebar</h2>
	<ul id="emailListing">
		<!-- if more sophisticated interactions needed, we could created a special
			 controller per iteration for each mail item via ng-controller. But
			 because this is a simple application the ng-click directive is
			 adequate. -->
		<li data-ng-repeat="mail in email" data-ng-click="setSelectedMail(mail)">
			<!-- {selected: } is an example of an Angular expression, which in this case
				 applies the .selected class to the element when isSelected(mail) returns true -->
			<div class="container emailListing" data-ng-class="{selected: isSelected(mail)}">
				<div class="small-8 columns">{{ mail.from }}</div>
				<div class="small-12 columns">{{ mail.subject }}</div>
			</div>
		</li>
	</ul>
</div>

<div class="small-8 columns" data-ng-controller="ContentController">
	<div data-ng-show="!selectedMail">
		<h2>No Conversations Selected</h2>
	</div>
	<div data-ng-show="selectedMail">
		<form id="replyForm" data-ng-submit="sendEmailReply()" data-ng-show="showingReply">
			<div class="row collapse">
				<div class="small-1 columns">
					<span class="prefix">To</span>
				</div>
				<div class="small-11 columns">
					<input data-ng-model="reply.to" type="email" placeholder="">
				</div>
				
				<div class="small-12 columns">
					<textarea data-ng-model="reply.body"></textarea>
				</div>
			</div>
			
			<button class="button radius" data-ng-click="sendReply()">Send</button>
			<button class="button radius alert" data-ng-click="toggleReplyForm()">Cancel</button>
		</form>
		<div class="row header">
			<div class="small-6 columns">{{ selectedMail.subject }}</div>
			<div class="small-6 columns">{{ selectedMail.sent_at | date:'MM/dd/yy' }}</div>
		</div>
		<div class="row actions">
			<div class="small-8 columns">
				{{ selectedMail.from.join(", ") }} to {{ selectedMail.to }}
			</div>
			<a data-ng-click="toggleReplyForm()" class="button radius push-1">Reply</a>
		</div>
		<div class="small-12 columns" data-ng-bind-html="selectedMail.body"></div>
	</div>
</div>
