<div class="row">
	<div class="col-sm-3 maxViewPort">
		<div class="row">
			<h2 class="col-sm-6">Inbox</h2>
			<div class="col-sm-6">
				<button class="btn btn-primary btn-lg pull-right">Compose</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div data-ng-controller="MailListingController" class="col-sm-3 maxViewPort">
		<input type="search" placeholder="Email Filter" class="form-control" data-ng-model="search.$" />
		<ul class="list-group mainEmailList" id="emailListing">
			<!-- Note use of orderBy filter, ordering by an element common in each array,
				 and passing "true" ensures results will be displayed in descending (newest->oldest) order 
				 finally searchPastNYears is a custom filter function, defined in the Controller-->
			<li class="list-group-item"
				email-listing email="mail"
				gravatar-size="20"
				action="setSelectedMail(selectedMail)"
				data-ng-repeat="mail in (email | orderBy:'sent_at':true | filter:search )">
			</li>
		</ul>
	</div>

	<div data-ng-controller="ContentController" class="col-sm-8 maxViewPort">
		<div data-ng-show="!selectedMail" class="row">
			<h2 class="col-sm-12">No Conversation Selected</h2>
		</div>
		<div data-ng-show="selectedMail" class="row">
			<h2 class="col-sm-12">{{ selectedMail.subject }}</h2>
			<div class="col-sm-12">
				<div class="row">
					<h3 class="col-sm-6">{{ selectedMail.from.join(", ") }}</h3>
					<h3 class="col-sm-6">{{ selectedMail.sent_at | date:'MM/dd/yy' }}</h3>
				</div>
			</div>
			<div class="col-sm-12" data-ng-bind-html="selectedMail.body"></div>
			<div class="col-sm-12">
				<button class="btn btn-primary pull-left" data-ng-click="toggleReplyForm()">Reply</button>
			</div>
			
			<form id="replyForm" class="col-sm-12 replyForm" role="form" data-ng-submit="sendEmailReply()" data-ng-show="showingReply">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">To:</span>
						<input type="email"
							   class="form-control"
							   placeholder=""
							   data-ng-model="reply.to">
					</div>
					<textarea
							  class="form-control"
							  data-ng-model="reply.body"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg pull-right" data-ng-click="sendReply()">Send</button>
					<button class="btn btn-danger btn-lg pull-right" data-ng-click="toggleReplyForm()">Cancel</button>
				</div>
			</form>

		</div>
	</div>
</div>