<!DOCTYPE HTML>
<html data-ng-app="ngEmailv2">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>

	<link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body data-ng-controller='HomeController'>

	<nav class="navbar navbar-inverse navbar-fixed-top simpleHeader" role="navigation">
		<div class="container-fluid">
			<a href="/" class="mastHead"><%= title %></a>

			<div class="navbar-right pull-right iconMenu">
				<ul class="nav navbar-nav">
					<li data-ng-show="loading"><img src="images/spinner_32.gif"></li>
					<li><a href="/"><img src="images/home.gif" class="bottomCorner"/></a></li>
					<li><a href="/settings"><img src="images/settings.gif" class="topCorner"/></a></li>
				</ul>
			</div>
		</div>
	</nav>

    <div data-ui-view class="container-fluid bigWrapper"></div>


    <script src="js/vendor/angular-1.2.9.js"></script>
    <script src="js/vendor/angular-ui-router-0.2.8.js"></script>
    <script src="js/vendor/angular-sanitize-1.2.9.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
</body>
</html>
