<!DOCTYPE HTML>
<html data-ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>

	<link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body data-ng-controller='HomeController'>

	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1><a><%= title %></a></h1>
			</li>
		</ul>
		
		<section class="top-bar-section">
			<ul class="right">
				<li data-ng-show="loading"><img src="images/spinner_32.gif"></li>
				<li><a href="/"><img src="images/home.gif"/></a></li>
				<li><a href="/settings"><img src="images/settings.gif"/></a></li>
			</ul>
		</section>
	</nav>

    <div data-ng-view></div>

    <script src="js/vendor/angular-1.2.9.js"></script>
    <script src="js/vendor/angular-route-1.2.9.js"></script>
    <script src="js/vendor/angular-sanitize-1.2.9.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
