/*
	Simple Email v2.0

	Author: Jason Lunsford
	Version: 2.0
	URL:
	
	-----------------------------------------
	CONTENTS - APP.CSS
	-----------------------------------------
	1. GLOBAL LAYOUT
	2. TYPOGRAPHY
	3. LINKS & BUTTONS & FORMS
	4. SITE HEADER & FOOTER
	5. MAIN CONTENT

*/

/* 1. GLOBAL LAYOUT
----------------------------------------------------------------------------------------*/

	.bigWrapper { margin:66px 0px 0px; overflow-x:hidden; }

/* 2. TYPOGRAPHY
----------------------------------------------------------------------------------------*/

	h1, h2, h3 { font-weight:bold; margin:0px; }
	h2, h3 { height:46px; line-height:46px; }
	h3 { }


/* 3. LINKS & BUTTONS & FORMS
----------------------------------------------------------------------------------------*/

	textarea { resize:none; }

	a:hover { outline:0; text-decoration:none; }

/* **************
	Settings Page
	************* */
	.settingsForm input { margin-bottom:5px; }


/* **************
	Home Page
	************* */
	.replyForm textarea { height:300px; }

	.replyForm .input-group { margin:5px 0px; }


/* 4. SITE HEADER & FOOTER
----------------------------------------------------------------------------------------*/

	/* Bootstrap over-rides to prevent nav bar wrapping */
	.iconMenu { display:inline-block; }
	.iconMenu ul { margin:0px; }
	.iconMenu ul li { display:inline-block; }

	.simpleHeader img {
		border:2px solid #222222;
		height:35px;
		padding:2px;
		width:35px;
	}

	.bottomCorner:hover {
		border-left:2px solid #2A6496;
		border-bottom:2px solid #2A6496;
	}

	.topCorner:hover {
		border-right:2px solid #2A6496;
		border-top:2px solid #2A6496;
	}

	.mastHead {
		color:#f2f2f2;
		float:left;
		font-size:32px;
		line-height:20px;
		padding:21px 15px 15px 15px;
	}

/* 5. MAIN CONTENT
----------------------------------------------------------------------------------------*/

/* **************
	Global Helpers
	************* */

	.verticalSpace { margin-top:20px; margin-bottom:20px; }

	.leftSpace { margin-left:15px; }

	.alignRight { text-align:right; }

/* **************
	Home Page
	************* */

	.emailBodyCopy {
		border-top:2px solid #222222;
		margin:0 15px 20px;
		padding:20px 0 0;
	}


/* **************
	Side Bar
	************* */

	.bottomSpace { margin-bottom:20px; }
	.stripLeftPadding { padding-left:0px; }

	.searchFilters {
		height:35px;
		line-height:35px;
	}

	.searchFilters input[type="checkbox"] { margin-top:9px; }
	.searchFilters span { margin-right:10px; }

	.mainEmailList {
		height:550px;
		overflow-y:scroll;
	}
	.emailListing {
		border-radius:3px;
		height:80px;
		overflow:hidden;
	}
	.emailListing img { margin-right:5px; }
	.emailListing .from {
		display:inline-block;
		height: 20px;
		line-height: 20px;
		width: 93%;
	}
	.emailListing .date {
		color:#285E8E;
		float:right;
	}
	.emailListing .subject {

	}
	.emailListing .body {
		font-style:italic;
		height:20px;
		overflow:hidden;
		width:100%;
	}
	.emailListing input[type="checkbox"] { margin-top:1px; }
	.mainEmailList li:hover {
		background-color:#eeeeee;
		cursor:pointer;
	}
	.mainEmailList .selected {
		background-color:#bbbbbb;
	}
	.freshEmail { font-weight:bold; }